# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

# JavaScript, TypeScript
[*.{js,jsx,ts,tsx,mjs,cjs}]
indent_style = space
indent_size = 2
quote_type = single

# HTML, XML
[*.{html,htm,xml}]
indent_style = space
indent_size = 2
quote_type = double

# CSS, SCSS, LESS
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2
quote_type = double

# JSON, YAML
[*.{json,json5,yaml,yml,webmanifest}]
indent_style = space
indent_size = 2
quote_type = double

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off
indent_size = 2

# Batch files
[*.{bat,cmd}]
indent_style = tab
end_of_line = crlf

# Bash scripts
[*.sh]
end_of_line = lf
indent_style = space
indent_size = 2
