.navbar {
  background-color: var(--navbar-background);
  color: var(--navbar-text);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbarLink {
  color: var(--navbar-text);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbarLink:hover {
  color: var(---navbar-text);
  background-color: var(--navbar-hover-background);
  border-radius: 10px;
}

.navbarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

@media (max-width: 768px) {
  .navMenu {
    display: none; /* Hide menu on small screens */
  }
}